[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyrekordbox = "*"
setuptools = "*"
ruptures = "*"
librosa = "*"
tqdm = "*"
pyqt5 = "*"
pyinstaller = "*"
sqlcipher3-wheels = "*"
matplotlib = "*"
demucs = "*"
xgboost = "*"
scikit-learn = "*"

[dev-packages]
ipykernel = "*"
ruff = "*"
isort = "*"

[requires]
python_version = "3.12"
