[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyrekordbox = "*"
setuptools = "*"
ruptures = "*"
librosa = "*"
tqdm = "*"
pyqt5 = {version = "*", markers = "sys_platform == 'darwin'"}
pyinstaller = "*"
sqlcipher3-wheels = "*"
matplotlib = "*"
demucs = "*"
xgboost = "*"
scikit-learn = "*"
opencv-python = "*"
audio-separator = {extras = ["cpu"], version = "*"}
anthropic = "*"
google-generativeai = "*"
modal = "*"
torch = ">=2.5.0,<2.6.0"
torchvision = "*"
madmom = {git = "https://github.com/CPJKU/madmom"}
allin1 = "*"

[dev-packages]
ipykernel = "*"
ruff = "*"
isort = "*"

[requires]
python_version = "3.12"
